<div class = "bg-primary footer">
    <p class = "footerText">Created by Joe Forsman, Zachary Allegretti, and Sabrina Poulsen</p>
    <p class = "footerText">Questions or comments? Contact us at webmaster@temp.com</p>

</div>
