<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>DoggoLog</title>
    <!-- Custom Bootstrap Stylesheet -->
<link rel="stylesheet" href="/bootswatch.css">
<link rel="stylesheet" href="/stylesheet.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<script src="scripts/utility.js"></script>
<script src="https://use.fontawesome.com/344f4b29e8.js"></script>

</head>

<body>
