<nav class="navbar navbar-expand-sm bg-light">
    <a class="navbar-brand" href="/">
        <img src="/images/logov1.png" alt="Pupr" style="width:45px;" class = "navicon">
    </a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <%if(tab == "Home"){ %>          
          <a class="nav-link selected" href="/">Home</a>
        <% } else { %>
          <a class="nav-link" href="/">Home</a
        <% } %>
    </li>
    <li class="nav-item">
      <%if(tab == "Dogs"){ %>
        <a class="nav-link selected" href="/dogs/">Dogs</a>        
      <% } else { %>
        <a class="nav-link" href="/dogs/">Dogs</a
      <% } %>
    </li>
    <li class="nav-item">
        <%if(tab == "About"){ %>
          <a class="nav-link selected" href="/about/">About</a>
        <% } else { %>
          <a class="nav-link" href="/about/">About</a>        
        <% } %>
    </li>
  </ul>
  
  <ul class="navbar-nav ml-auto">        
    <% if(loggedIn) { %>
      <li class="nav-item dropdown navbutton">
          <a class="nav-link dropdown-toggle " href="/account" id="navbardrop" data-toggle="dropdown">
            <%= user.name %>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/account">View Account</a>
            <a class="dropdown-item" href="/favorites">Favorited Dogs</a>
            <a class="dropdown-item" href="/logout">Sign Out</a>
          </div>
        </li>
      
    <%} else { %>
      <li class="nav-item">
          <a class="btn btn-primary navbutton" href="/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary navbutton" href="/signup">Sign Up</a>
      </li>
  
    <% } %>


  </ul>

</nav>
