<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>DoggoLog</title>
    <!-- Custom Bootstrap Stylesheet -->
<link rel="stylesheet" href="bootswatch.css">
<link rel="stylesheet" href="stylesheet.css">


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/styles.css?v=1.0">


</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light">
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Dogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>

        </nav>
    <div class = "bg">
        <div class="container-fluid bigtext">

  			<h1 class="display-1 displayText">Man's Best Friend</h1>
    		<a href = "" class="btn btn-primary btn-lg">Come meet them</a>

		</div>
        
    </div>

    

</body>
</html>