body, html {
    height: 100%;
    background-color: aliceblue;
}

.bg {
    /* The image used */
    background-image: url("dogcollage.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
     display: flex;
  	justify-content: center;
  	align-items: center;
}
.selected{
 border-bottom: 3px #158CBA solid
}
.nav-item{
    margin-left: 10px;
    margin-right: 30px;
}
.listbg{
    background-image: url("biggerDogSilhouette.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}
.bigtext{
    color: white;
    display: block !important;
    text-align: center !important;
    margin:0 auto !important; /* this will center  it */
    vertical-align: middle;
}
.displayText{
    text-shadow: 2px 2px 2px black;
}
.footer{
    text-align: center;
    align-content: center;
    padding: 5px;
}
.footerText{
    color: white;
    text-align: center !important;
    vertical-align: middle !important;
    margin: 0px;
}
.box{
    display:inline-block;
    color:white;
    font-size: 1.1em;
    padding: 20px;
    margin:100px;
    border-radius: 25px;
    border: 1px solid black;
}
.centeredBoxes{
  text-align:center;
}
.profileImage{
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    border: 1px solid black;
    image-orientation: inherit;
    /*I have no idea what this does but stackoverflow said it works and it does */
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.carousel_img{
     width: 80%;
     height:auto;
     margin-left:10%;
     align-content: center;
     text-align: center;
     image-orientation: inherit;
    /*I haveno idea what this does but stackoverflow said it works and it does */
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.bio{
    text-align: center;
    align-content: center;
}
.biotext{
    margin-right: auto;
    margin-left: auto;
    width:60%;
    align-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.wtf{
    width: 100%;
    text-align: center;
    background-color: black;
}
#demo{
    background-color: black;
    width: 100%;
    align-content: center;

}
.aboutText{
    font-size:1.1em;
    background-color: white;
    width: 50%;
    align-content: center;
    text-align: center;
    padding-bottom: 50px;
    padding-left:20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;

}
.signform{
    margin-top:30px;
    margin-bottom: 50px;

}
.signheader{
    margin-bottom: 20px;
}
.homebutton{
    margin: 20px;
}
.navbutton{
    text-align: right;
}
.dognamelink{
  color:white;
}
#heartIconDetail{
    margin-left: 40%;
    background-color: transparent;
    border: none;
}
.selectedHeart{
    color: #BB0000 !important;
}
.unselectedHeart{
    color: gray !important;
}
.bigNum{
    font-size: 2em;
}
