<% include ../partials/head %>
<% include ../partials/header %>

<div class = "listbg">
    <div class = "aboutText">
        <h3 class="display-3 displayText">Who we are</h3>
        <p> We are students at The Ohio State University in Columbus. Our team consists of Zachary Allegretti,
            Joeseph Forsman, and Sabrina Poulsen. Joe and Zach are Computer Science majors, and Sabrina is a
            Physics/Astrophysics major.
            <br />
            Being students in very difficult (and stressful) majors, we needed a way to relieve the stress that
            we experience throughout the semester. So we decided to do so though our common love of dogs.
             The Columbus area has several Petland locations, so every weekend or so we go to Petland and play
             with dogs. In our experience, the employees have been very nice, and we are grateful that they allowed us
             to play with dogs for an hour every once in a while. A few weeks after we started doing this, we got
             the idea to start documenting all of the dogs, and that idea eventually grew into this website.
             The project began in December of 2017.
             <br />
            <br />
            Since they are CSE students, Zach and Joe did most of the website implementation. One of the goals of the
            project was to employ some new technologies and frameworks. The website and database are hosted on an Amazon Web Services (AWS)
            web server, and the backend is implemented using javascript with Node JS, which allows us to make MySQL queries
            to our database. The front end was implemented using HTML, CSS, Embedded Javascript (with Express), and Bootstrap. 
            <br />
            <br />
            We are not affiliated with Petland in any way, and we are not using this service for any sort of profit.

        </p>

    </div>

</div>

<% include ../partials/footer %>
