<% include ../partials/head %>
<%var tab = "Account" %>
<% include ../partials/header %>

<div class = "listbg">
    <div class = "aboutText">
        <h3 class="display-3 displayText">Your Account</h3>
       <p><%= user.name %></p>
       <p><%= user.email %> </p>
       <a class="btn btn-primary" href="/update">Update</a>
       <a class="btn btn-primary" href="/updatepass">Change Password</a>
       <br>
       <br>
       <%if (!user.verified) { %>
        <h4 class="display-4">Your account is not verified</h4>
        <a class="btn btn-primary" href="/resend">Resend Verification</a>
        <% } else { %>
            <h5 class="display-5">Your account has been verified. You are good to go!</h5>
        <% } %>
    
     <br><br><br>
     
     <p>Unhappy? Click the button to delete your account.</p>
     <form action="/deleted" method="get">
        <button type="submit" class="btn btn-primary btn-lg"  onclick="return confirm('Are you sure?')">Delete your Account</button>
    </form>
     
        


    </div>
</div>

<% include ../partials/footer %>
