<% include ../partials/head %>
<% include ../partials/header %>

<list>
  <% breeds.forEach(function(breed) { %>
    <li><%- link_to(breed.breed, "https://" + breed.link) %></li>
  <% }); %>
</list>

<% include ../partials/footer %>
