<!doctype html>
<html lang="en">
<% include ../partials/head %>

<body>
    <% include ../partials/header %>

<list>
    <% breeds.forEach(function(breed) { %>
        <li><a href="https://<%= breed.link %>"><%= breed.breed %></a></li>
    <% }); %>
  </list>

    <% include ../partials/footer %>

</body>
</html>
