<!doctype html>
<html lang="en">
<% include ../partials/head %>

<body>
    <% include ../partials/header %>

<list>
    <% breeds.forEach(function(breed) { %>
        <li><%= breed.name %> - <%= breed.size %></li>
    <% }); %>
  </list>

    <% include ../partials/footer %>

</body>
</html>
