<!doctype html>
<html lang="en">
<% include ../partials/head %>

<body>
    <% include ../partials/header %>

    <p><%= breed %></p>

    <% include ../partials/footer %>

</body>
</html>
