<% include ../partials/head %>
<%var tab = "confirmation" %>
<% include ../partials/header %>

<div class = "smallerbg">
    <div class = "aboutText">
        <h5 class="display-5 loneText">Thank you for the submission! We will review it as soon as possible</h5>
    </div>
</div>

<% include ../partials/footer %>
