<% include ../partials/head %>
<%var tab = "deleted" %>
<% include ../partials/header %>

<div class = "listbg">
    <div class = "aboutText">
        <h3 class="display-3 displayText">Your Account has been deleted</h3>
    </div>
</div>

<% include ../partials/footer %>
