<!doctype html>
<html lang="en">
<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    
        <div class="container-fluid bigtext">
  			<h2 class="display-2 displayText">Click on any dog to learn more</h1>
        </div>
        <div class = "centeredBoxes" >
            <div class = "box bg-primary">
                <img src = "/images/Akita1/IMG_4718.JPG" class = "profileImage rounded-circle ">
                <p> Breed: Akita <p>
                <p>Name: Dogger</p>
            </div>
            <div class = "box bg-primary">
                <img src = "/images/Smoosh/IMG_4295.JPG" class = "profileImage rounded-circle">
                <p> Breed: Potato <p>
                <p>Name: Smoosh</p>
            </div>
            <div class = "box bg-primary">
                <img src = "/images/Pomski1/20171209_151015.jpg" class = "profileImage rounded-circle">
                <p> Breed: Floof <p>
                <p>Name: Pomski</p>
            </div>
            
            

        </div>


    <% include ../partials/footer %>

</body>
</html>
