<% include ../partials/head %>
<% var tab = "Home" %>
<% include ../partials/header %>

<div class = "bg">
  <div class="container-fluid bigtext">
    <h1 class="display-1 displayText">Man's Best Friend</h1>
    <a href = "/dogs/" class="btn btn-primary btn-lg">Come meet them</a>
  </div>
</div>

<% include ../partials/footer %>
