<% include ../partials/head %>
<%var tab = "login" %>
<% include ../partials/header %>



<div class = "listbg">
        <div class = "aboutText">
            <h3 class="display-3 displayText">Your Account</h3>
             <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <form action="/updatepass" method="post">
                <div class="form-group">
                        <label>New Password</label>
                        <input type="password" onkeyup='check();' name = "password" id = "password" class="form-control" name="password" />
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="password" name="confirm_password" id="confirm_password" onkeyup='check();' class="form-control" name="confirmPassword" />
                        <span id='message'></span>
                    </div>
                    <div class="form-group">
                            <label>Enter Old Password to Confirm Changes</label>
                            <input type="password" class="form-control" name="oldPassword">
                    </div>
        
                <button type="submit" class="btn btn-primary btn-lg">Update</button>
            </form>
        
        </div>
    
    </div>
    
</div>

<% include ../partials/footer %>
