<% include ../partials/head %>
<%var tab = "Account" %>
<% include ../partials/header %>

<div class = "listbg">
    <div class = "aboutText">
        <h3 class="display-3 displayText">Your Account isn't Verified</h3>
       <p>Looks like you haven't verified your account by confirming your email address! <br />
         In order to do this, you need to go to your email and click on the link provided in an email from us.</p>

       <p> If you haven't gotten such an email yet, navigate to your account page, by clicking in the top right corner of the page, <br />
           and you can resend the email from there. </p>

       <p> If the problem persists, please contact us. </p>
    </div>
</div>

<% include ../partials/footer %>
