<% include ../partials/head %>
<%var tab = "Dogs" %>
<% include ../partials/header %>
<div class="table-responsive">
<table class="table table-striped table-bordered">
  <tr>
    <th>Comment</th>
    <th>Reaon</th>
    <th>Dismiss</th>
    <th>Delete Comment</th>
  </tr>
  <% comments.forEach(function (comment) { %>
    <tr>
      <td> <%= comment.commentID %> </td>
      <td> <%= comment.reason %> </td>
      <td><button type="button" class="btn btn-success">Dismiss Complaint</button></td>
      <td><button type="button" class="btn btn-danger">Delete Comment</button></td>
    </tr>
  <% }); %>
</table>
</div>
<% include ../partials/footer %>
