<% include ../partials/head %>
<%var tab = "resend" %>
<% include ../partials/header %>

<div class = "listbg">
    <div class = "aboutText">
        <h3 class="display-3 displayText">A new verification email has been emailed to you</h3>
    </div>

</div>

<% include ../partials/footer %>
