<!doctype html>
<html lang="en">
<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    
    
  <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/Smoosh/IMG_4295.JPG">
    </div>
    <div class="carousel-item">
      <img src="/images/Smoosh/IMG_4582.JPG">
    </div>
    <div class="carousel-item">
      <img src="/images/Smoosh/IMG_4591.JPG">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>  
<div class = "bio">    
    <h2 class="display-2">Smoosh</h2>
    <h4 class="display-4">Potato</h4>
    <div></div>
    <p class = "biotext">
        Smoosh is an adorable little potato. However he does like to pee sometimes but that is ok. Like seriously this is an incredible dog.
        Smoosh loves playing tug of war with elephant toys. He doesn't care if you pull him off of the ground, he will fight til the death for
        that toy. Smoosh is considered one of the greatest dogs you can find at petland. We don't know what type of dog he is, but he looks like
        a potato so lets just go with that.
    </p>
    </div>
</div>
<% include ../partials/footer %>

</body>
</html>
