<% include ../partials/head %>
<% var tab = "Submit" %>
<% include ../partials/header %>

<div class = "searchform container">
    <h4 class="display-4 signheader headerSpacing">Submit a Dog</h4>
    <p>
        Fill out the information below to have a chance for your dog to appear on Pupr! We will review your submission and if we like
        your pup, it will be added to the site. In order to submit your dog, you must fill in all of the fields below (we will not make up any
        information about your dog). To increase your chances, we recommend submitting at least 3 pictures. The higher the quality of your 
        pictures, the more likely your dog is due be featured. Due to the possibility of a high volume of submissions, please understand that not
        all dogs will be selected.
    </p>      
    <div class="col-sm-6 col-sm-offset-3">
                <h4 class = "display-4 signheader"> Your Dog</h4>
                <!-- LOGIN FORM -->
                <form action="/submit" method="post">
                    <div class="form-group">
                        <label>Dog name</label>
                        <input type="text" class="form-control" name="dogName">
                    </div>
                    <div class="form-group">
                        <label>Dog Breed 1</label>
                        <input type="text" class="form-control" name="dogBreed1">
                    </div>
                    <div class="form-group">
                            <label>Dog Breed 2</label>
                            <input type="text" class="form-control" name="dogBreed2">
                    </div>
                    <div class = "form-group">
                            <label>Dog Bio</label>                            
                            <textarea placeholder="Tell us about your dog" class="pb-cmnt-textarea" name = "dogBio" type = "text"></textarea>
                    </div>
                    <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </form>
               
                
                
                <hr>            
            </div>
    

</div>

<% include ../partials/footer %>
