<% include ../partials/head %>
<% var tab = "Submit" %>
<% include ../partials/header %>

<div class = "searchform container">
    <h4 class="display-4 signheader headerSpacing">Submit a Dog</h4>
    <p>
        Fill out the information below to have a chance for your dog to appear on Pupr! We will review your submission and if we like
        your pup, it will be added to the site. In order to submit your dog, you must fill in all of the fields below (we will not make up any
        information about your dog). To increase your chances, we recommend submitting at least 3 pictures. Please only submit at most 5 images. The higher the quality of your 
        pictures, the more likely your dog is due be featured. Due to the possibility of a high volume of submissions, please understand that not
        all dogs will be selected.
    </p>      
    <div class="col-sm-6 col-sm-offset-3">
                <h4 class = "display-4 signheader"> Your Dog</h4>
                <!-- Dog submission form -->
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>
                <form action="/submit" method="post" enctype="multipart/form-data" name = "submitForm">
                    <div class="form-group">
                        <label>Dog name</label>
                        <input type="text" class="form-control" name="dogName">
                    </div>
                    <div class="form-group">
                        <label>Dog Breed 1 (Use one of the suggested breeds)</label>
                        <input class="form-control" name="dogBreed1" list = "breeds">
                    </div>
                    <div class="form-group">
                            <label>Dog Breed 2 (If Applicable)</label>
                            <input class="form-control" name="dogBreed2" list = "breeds">
                    </div>
                    <datalist id = "breeds">
                        <% breeds.forEach(function(breed) { %>
                            <option data-value = <%= breed.breedID %> value = "<%= breed.breed %>">
                         <% }); %> 
                    </datalist>
                    <div class = "form-group">
                            <label>Dog Bio (2000 character limit)</label>                            
                            <textarea placeholder="Tell us about your dog" class="pb-cmnt-textarea" name = "dogBio" type = "text" maxlength="2000"></textarea>
                    </div>
                    <div class = "form-group">
                        <label>Upload Files (Maximum of 5)</label> <br>                         
                        <input id="upload-input" type="file" name="images" multiple="multiple"></br><br>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" >Submit</button>
                </form>
               
                
                
                <hr>            
            </div>
    

</div>

<% include ../partials/footer %>
